Django==5.2.13
djangorestframework==3.17.1
asgiref==3.11.1
requests==2.32.3
httpx==0.28.1
pytz==2024.2
tzdata==2024.2
sqlparse==0.5.5
PyYAML==6.0.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
cffi==1.17.1
pycparser==2.22
